body{
    background-color: blue;
    color: white;
}

h1{
    border: 5px solid black;
}

ol {
    list-style-type: georgian;

}

ul {
    list-style-type: none;
    display: ruby;
    /* justify-content: space-evenly;  */
}

